@font-face {
  font-family: "Libre Baskerville Variable";
  font-display: swap;
  font-weight: 400 700;
  src: url("@fontsource-variable/libre-baskerville/files/libre-baskerville-latin-wght-normal.woff2")
    format("woff2-variations");
}
